<!--
 Copyright 2019 Novartis Institutes for BioMedical Research Inc. Licensed
 under the Apache License, Version 2.0 (the "License"); you may not use
 this file except in compliance with the License. You may obtain a copy
 of the License at http://www.apache.org/licenses/LICENSE-2.0. Unless
 required by applicable law or agreed to in writing, software distributed
 under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
 OR CONDITIONS OF ANY KIND, either express or implied. See the License for
 the specific language governing permissions and limitations under the License.
-->

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Default header -->
  {% include 'header.html' %}

  <!-- Page title -->
  <title>Instances - SSF BioHub</title>

  <!-- Stylesheets -->
  <link rel="stylesheet"
    href="{{ url_for('static', filename='css/common.css') }}" />
  <link rel="stylesheet"
    href="{{ url_for('static', filename='css/navbar.css') }}" />
  <link rel="stylesheet"
    href="{{ url_for('static', filename='css/table.css') }}" />

  <!-- Miscellaneous -->
  <script>
    $(() => {
      $(".timestamp").each(function() {
        const el = $(this);
        const ts = el.text();
        const dt = new Date(parseInt(ts) * 1000);
        const pad = n => String(n).padStart(2, '0');
        el.text(
          `${dt.getFullYear()}-${pad(dt.getMonth() + 1)}-${pad(dt.getDate())} ` +
          `${pad(dt.getHours())}:${pad(dt.getMinutes())}:${pad(dt.getSeconds())}`
        );
      });
    });
  </script>
</head>

<body>
  <!-- Navbar -->
  {% include 'navbar.html' %}

  <!-- Main content with instance table -->
  <div class="container-fluid p-3">
    <div class="row">
      <div class="col-12">
        <h2>Instances</h2>

        <!-- Instance table -->
        <div class="table-responsive">
          <table class="table table-hover table-striped table-sm">

            <!-- Table header -->
            <thead class="table-light" style="vertical-align: middle;">
              <tr>
                <th style="padding-left: 0.75rem;">Dataset</th>
                <th>PID</th>
                <th>Annotation File</th>
                <th>Source</th>
                <th>Port</th>
                <th>Launch Time</th>
                <th>Last Access</th>
                <th>Status</th>
                <th>Message</th>
                <th>HTTP Status</th>
                <th>Actions</th>
              </tr>
            </thead>

            <!-- Table body -->
            <tbody>
              {% for entry in entry_list %}
              <tr>
                <td style="padding-left: 0.75rem;"><strong><a
                      href="{{ entry.key.view_url }}" target="_blank"
                      rel="noopener noreferrer">{{
                      entry.key.h5ad_item.descriptor
                      }}</strong></a>
                </td>
                <td>{{ entry.pid }}</td>
                <td>{{ entry.key.annotation_descriptor }}</td>
                <td>{{ entry.source_name }}</td>
                <td>{{ entry.port }}</td>
                <td class="timestamp">{{ entry.launchtime }}</td>
                <td class="timestamp">{{ entry.timestamp }}</td>
                <td>{{ entry.status.value }}</td>
                <td>{{ entry.message }}</td>
                <td>{{ entry.http_status }}</td>
                <!-- Button to terminate instance -->
                <td>
                  {% if entry.status.name == 'loaded' %}
                  <a
                    href="{{ url_for('do_terminate', path=entry.key.descriptor, source_name=entry.key.source_name) }}">
                    Terminate </a>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
